<launch>
  <node
    pkg="chord_detection"
    type="mic_publisher_thread.py"
    name="mic_publisher"
    output="screen"
    launch-prefix="xterm -e"
  />
  <node
    pkg="chord_detection"
    type="chord_detection_node"
    name="chord_detection"
    output="screen"
    launch-prefix="xterm -e"
  />
</launch>
